/*
  Somente a tag <P> que tiver classe "maiusculo" será formatada!!!
 */
body {
  padding: 0px;
  margin: 0px;
}
form {
  padding: 0px;
  margin: 0px;
}

.sessao {
  background-color: #333333;
  color: white;
  font-size: small;
  border-style: solid;
  solid-opacity: 0.8;
  padding: 0px;
  margin: 0px;
}
.sessao usuario {
  float: left;
}
.sessao data {
  float: right;
}